body{
    background-color: #44475a ;
    font-family:'Orbitron', sans-serif; 
}
header{
    background-color: #282a36;
    font-family: 'The Nautigal', cursive;
}
header a img {
    border-radius: 60px;
}
footer{
    background-color: #ff79c6;
    
}
footer a img{
    border-radius: 60px;
}
section div a span :hover {
    font-weight: bolder;

  }
section div a:hover {
    font-weight: bold;
    border-color: #ff79c6;

  }
footer div  p:hover {
    font-weight: bolder;
    background-color: #44475a;
}
section div div div div center img{
    border-radius: 80px;
}
section div a a div p{
    font-family: 'Orbitron', sans-serif; 
}
