body {
    background-color: #44475a;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 17px #c50303;
}

#foot-alpha-img {
    border: 3px solid #ff5555;
}

header {
    background-color: #282a36;
    font-family: 'Teko', sans-serif;
}

header a img {
    border-radius: 60px;
}

footer {
    background-color: #ff79c6;

}

footer a img {
    border-radius: 60px;
}

section div a span :hover {
    font-weight: bolder;

}

section div a:hover {
    font-weight: bold;
    border-color: #ff79c6;

}

footer div p:hover {
    font-weight: bolder;

}

section div div div div center img {
    border-radius: 80px;
}

section div div div a img:hover {
    background-color: #44475a;

}

#github-my {
    border-radius: 25px;
    border: 2px solid #73AD21;
}

#alpha-intro {
    border: 3px solid #ff5555;
}

img {
    box-shadow: 0 0 50px black;
}

#my-pic {
    border-radius: 100%;
    border: 4px solid #8be9fd;
}

#my-prog {
    font-size: 100px;
    margin-left: 40px;
    position: relative;
    top: 65px;
}

#auto-img {
    border-radius: 10px;
    border: 1px dashed #ff5555;
}

#prog {
    box-shadow: 0 0 50px black;
    margin-right: 10px;
    padding: 1px;
    border-radius: 15px;
    margin-top: 10px;
}

#profile {

    display: inline;
position: relative;
bottom: 80px;

}
#svg{
box-shadow: 0 0 50px black
}
